<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DICOMReceiver.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DICOMReceiver.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DICOMReceiver.GeneralSettings>
            <setting name="BaseDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="LocalAETitle" serializeAs="String">
                <value>DCMReceiver</value>
            </setting>
            <setting name="LocalIP" serializeAs="String">
                <value>localhost</value>
            </setting>
        </DICOMReceiver.GeneralSettings>
    </userSettings>
    <applicationSettings>
        <DICOMReceiver.GeneralSettings>
            <setting name="DatabaseName" serializeAs="String">
                <value>DicomData.db</value>
            </setting>
        </DICOMReceiver.GeneralSettings>
    </applicationSettings>
</configuration>